@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
header{
    background-image: url(hbg.png);
    height: 50vh;
    border-bottom: 1px rgb(82, 79, 79) solid;
}
body{
    background-color: rgb(248, 244, 244);
}
.dNav{
    height: 5vh;
    border-bottom: 1px rgb(82, 79, 79) solid;
    min-height: 42px;
}
*{
    margin: 0;
    box-sizing: border-box;
}
main{
    max-width: 60%;
    background-color: white;
    margin: auto;
    z-index: 1;
    margin-top: -5vh;

}
main > .headerT{
    padding: 15px 50px;
    font-size: 2rem;
}
main > p{
    font-size: 1.2rem;
    padding: 35px;
    text-align: justify;
}
@media (max-width:800px){
    main > p{
        font-size: 1rem;
        padding: 10px 15px;
    }
    main{
        max-width: 80%;
    }
    header{
        height: 30vh;
    }
}